<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<center>
			<a href="/">Home</a> <br>
			<br>
			<a href="/users/add">Add New User</a> 
			<br>
			<br> 
			<a href="/users">All Users List</a>
			</center>
		</div>	
		<h1><%= title %></h1>
